.pacman {
    width: 0px;
    height: 0px;
    border-right: 600px solid transparent;
    border-top: 600px solid yellow;
    border-left: 600px solid yellow;
    border-bottom: 600px solid yellow;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
  }

  .circle {
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%
   
  }